@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --gold-clr-300: #efc89c;

    --primary-clr: var(--gold-clr-300);

    --txt-clr-light: white;
    --txt-clr-dark: black;

    --dark-clr-300: #1e1f22;
    --dark-clr-400: #0c0c0e;

    --background-clr: var(--dark-clr-400);
}

button,
input {
    font-family: inherit;
    border: none;
    outline: none;
    font-weight: inherit;
}

@font-face {
    font-family: IranSans;
    src: url('./assets/fonts/IranSans.ttf') format('trueType');
}

html {
    font-family: IranSans;
    font-weight: 400;
}

body {
    background-color: var(--background-clr);
    min-height: 100vh;
}