@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-clr: #efc89c;
    --primary-clr-100: #cfb089;

    --dark-clr-300: #0c0c0e;
    --dark-clr-400: #1e1f22;
}

button,
input {
    font-family: inherit;
    border: none;
    outline: none;
    font-weight: inherit;
}

@font-face {
    font-family: IranSans;
    src: url('./assets/fonts/IranSans.ttf') format('trueType');
}

html {
    font-family: IranSans;
    font-weight: 400;
}

body {
    background-color: var(--dark-clr-300);
}