@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-clr: #efc89c;
    --primary-clr-100: #cfb089;

    --dark-clr-300: #0c0c0e;
    --dark-clr-400: #1e1f22;
}

button,
input {
    font-family: inherit;
    border: none;
    outline: none;
    font-weight: inherit;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    display: grid;
    place-content: center;

    font: inherit;
    color: currentColor;
}


input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]::before {
    /* ...existing styles */

    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

@font-face {
    font-family: IranSans;
    src: url('./assets/fonts/IranSans.ttf') format('trueType');
}

html {
    font-family: IranSans;
    font-weight: 400;
}

body {
    background-color: var(--dark-clr-300);
    min-height: 100vh;
}